//.main {max-width: 800px;}

a:not([class]) {
  background-size: 0px 0px;
  &:hover {
    background-size: 0px 0px;
  }
}


.image-container {
  padding: 10px;
  width: 65%;
  align-content: center;
  margin-left: auto;
  margin-right: auto;
}

figcaption {
  font: italic smaller sans-serif;
  text-align: center;
}


.iframe-container {
  overflow: hidden;
  /* 16:9 aspect ratio */
  padding-top: 56.25%;
  position: relative;
  margin-top: 2em;
}

.iframe-container iframe {
  border-width: 0px;
  margin: auto;
   height: 100%;
   left: 0;
   position: absolute;
   top: 0;
   width: 100%;
}


// Print-only styles.
@media print {
  .side-bar,
  .page-header {
    display: none;
  }
  .main-content-wrap {
    color: black;
  }
}